logs
project/project
project/target
target
tmp
.history
dist
.idea
.cache
.classpath
.project
.settings/
*.iws
*.iml
*.ipr
.DS_Store
public/feeds/mpo.atom.xml
public/feeds/mpo.rss1.xml
public/feeds/mpo.rss2.xml