@(currentUser: User,
  categories: List[Category],
  versionForm: Form[Category])

@admin.adminTemplate("Categories", currentUser) {
<section>
    <div id="overviewArea">
        <ul>
            @for(category <- categories) {
            <li><a href="@routes.Categories.categoryDetails(category.name)">@category.name</a></li>
            }
        </ul>
    </div>
    <div id="controlArea">
        <h3>Add new category</h3>
        @helper.form(routes.Categories.addNewCategory) {
        @helper.inputText(versionForm("name"))
        <p>
            <button type="submit">Add</button>
        </p>
        }
    </div>
</section>
}
