@(currentUser: User,
  categories: List[Category],
  versionForm: Form[Category])

@admin.adminTemplate("Categories", currentUser) {
<section>
    <div id="overviewArea">
        <ul>
            @for(category <- categories) {
            <li><a id="name-@category.id" href="@routes.Categories.categoryDetails(category.name)">@category.name</a> (<a href="javascript:editCategory('@category.id', $('#name-@category.id').text())">Edit</a>)</li>
            }
        </ul>
    </div>
    <div id="controlArea">
        <h3>Add new category</h3>
        @helper.form(routes.Categories.addNewCategory) {
        @helper.inputText(versionForm("name"))
        <p>
            <button type="submit">Add</button>
        </p>
        }
    </div>
</section>
<script type="text/javascript">

    var onError = function(form, message) {
        editCategory(form.id, form.name, message);
    };

    var onSuccess = function(form, data) {
        var anchor = $('#name-' + form.id);
        var href = anchor.attr('href');
        href = href.substring(0, href.lastIndexOf('/') + 1) + form.name;
        $('#name-' + form.id).attr('href', href);
    }

    function editCategory(id, name, message) {
        message = (typeof message == 'undefined') ? '' : message;
        var template = _.template($('#editCategoryTemplate').html(),
                                  {id:id, name:name, message:message})
        editAdminSection(template,
                         onSuccess,
                         onError);
    }
</script>
<script type="underscore-template" id="editCategoryTemplate">
    <form>
        <input type="hidden" name="id" value="<%= id %>"/>
        <input type="hidden" name="targetUrl" value="@routes.Categories.update"/>
        <p><%= message %></p>
        <table class="formTable">
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" id="name" value="<%= name %>"/></td>
            </tr>
        </table>
    </form>
</script>
}