@(currentUser: User,
  playOneVersions: List[PlayVersion],
  playTwoVersions: List[PlayVersion],
  versionForm: Form[models.PlayVersion])

@import tags.admin.playVersionList


@admin.adminTemplate("Play versions", currentUser) {
<section>
    <div id="overviewArea">
        <h4>Play 1</h4>
        @playVersionList(playOneVersions)

        <h4>Play 2</h4>
        @playVersionList(playTwoVersions)
    </div>
    <div id="controlArea">
        <h3>Add new version</h3>
        @helper.form(routes.PlayVersions.addNewPlayVersion) {
        @helper.inputText(versionForm("name"))
        @helper.inputText(versionForm("documentationUrl"))
        <p>
            <button type="submit">Add</button>
        </p>
        }
    </div>
</section>
}
