/*
	modules.playframework.org overrides to the CSS from http://www.playframework.org/

	Blue: #19ADE4 (light) #1999CE (normal) #1388B5 (text) #1487B4 (dark text) #C2D8DF (light text)
*/

a, #quicklinks h2, footer .links dt { color:#1999CE }
a:hover { color:#1487B4; }

header nav a.download { background-color:#19ADE4; box-shadow: 0 3px 0 #1487B4; }
header nav a.download:hover {
  box-shadow: 0 3px 0 #1487B4, 0 3px 4px rgba(0, 0, 0, 0.3);
}
header nav a.download:active {
  box-shadow: 0 1px 0 #1487B4;
}

#modules .module {
    padding-top: 16px;
}

#modules p {
    margin-top: 6px;
}

#introduction, #top { background-color:#1487B4; }
#title { color:#C2D8DF; }
#top h2 {
    color: #C2D8DF;
    font-size: 20px;
}

#features h2 {
	font-size: 24px;
}
#features .item p {
	text-align: left;
}

td.tableTools {
    text-align: right;
}

/*  Styles added by Steve, these can be removed once consistent styling is added*/
.addNew {
    margin-top: 10px;
    border: 1px solid #000000;
}

.addNew legend {
    font-weight:bolder;
    border:solid 1px #555;
    padding:3px;
}

.lineList {
    padding-right: 3px
}

#overviewArea {
    width: 500px;
    float: left;
    color: #888;
}

#overviewArea h4 {
    margin-top: 10px;
    color: #1999CE;
    font-size: 16px;
}

#overviewArea ul li:before {
    content: "►";
    color: #ccc;
    font-size: 10px;
    margin-right: 5px;
}

#controlArea {
    width: 350px;
    margin: -15px 0 0 0;
    box-sizing: border-box;
    float: right;
    background: #fff;
    color: #888;
}
#controlArea h3 {
    color: #1999CE;
    font-size: 16px;
    margin-top: 15px;
    padding: 2px;
    border-top: 1px solid #eee;
}
#controlArea a {
    color: #444;
}

.moduleQuickControl {
    margin-bottom: 5px
}

.formSection {
    font-weight: bolder;
}

table.formTable, table.formTable tr td input {
    width: 100%;
}

tr.tableSectionHeader {
    background-color: #eee;
}

/* Voting */
span.vote {
    background-image: url(../images/votes.png);
    background-repeat: no-repeat;
    padding-left: 18px;
    margin-right: 10px;
    cursor: pointer;
}
span.upVote {
    background-position: 0 0;
}
span.votedUp {
    background-position: 0 -25px;
}
span.downVote {
    background-position: 0 -50px;
}
span.votedDown {
    background-position: 0 -75px;
}

/* Steve: I've just copied the example inpromptu css for now, it may need restyling later*/
.jqifade{
    position: absolute;
    background-color: #aaaaaa;
}
div.jqi{
    width: 400px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #ffffff;
    font-size: 11px;
    text-align: left;
    border: solid 1px #eeeeee;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 7px;
}
div.jqi .jqicontainer{
    font-weight: bold;
}
div.jqi .jqiclose{
    position: absolute;
    top: 4px; right: -2px;
    width: 18px;
    cursor: default;
    color: #bbbbbb;
    font-weight: bold;
}
div.jqi .jqimessage{
    padding: 10px;
    line-height: 20px;
    color: #444444;
}
div.jqi .jqibuttons{
    text-align: right;
    padding: 5px 0 5px 0;
    border: solid 1px #eeeeee;
    background-color: #f4f4f4;
}
div.jqi button{
    padding: 3px 10px;
    margin: 0 10px;
    background-color: #2F6073;
    border: solid 1px #f4f4f4;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}
div.jqi button:hover{
    background-color: #728A8C;
}
div.jqi button.jqidefaultbutton{
    background-color: #BF5E26;
}
.jqiwarning .jqi .jqibuttons{
    background-color: #BF5E26;
}

.jqi .jqiarrow{ position: absolute; height: 0; width:0; line-height: 0; font-size: 0; border: solid 10px transparent;}

.jqi .jqiarrowtl{ left: 10px; top: -20px; border-bottom-color: #ffffff; }
.jqi .jqiarrowtc{ left: 50%; top: -20px; border-bottom-color: #ffffff; margin-left: -10px; }
.jqi .jqiarrowtr{ right: 10px; top: -20px; border-bottom-color: #ffffff; }

.jqi .jqiarrowbl{ left: 10px; bottom: -20px; border-top-color: #ffffff; }
.jqi .jqiarrowbc{ left: 50%; bottom: -20px; border-top-color: #ffffff; margin-left: -10px; }
.jqi .jqiarrowbr{ right: 10px; bottom: -20px; border-top-color: #ffffff; }

.jqi .jqiarrowlt{ left: -20px; top: 10px; border-right-color: #ffffff; }
.jqi .jqiarrowlm{ left: -20px; top: 50%; border-right-color: #ffffff; margin-top: -10px; }
.jqi .jqiarrowlb{ left: -20px; bottom: 10px; border-right-color: #ffffff; }

.jqi .jqiarrowrt{ right: -20px; top: 10px; border-left-color: #ffffff; }
.jqi .jqiarrowrm{ right: -20px; top: 50%; border-left-color: #ffffff; margin-top: -10px; }
.jqi .jqiarrowrb{ right: -20px; bottom: 10px; border-left-color: #ffffff; }


/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(../images/rating/delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(../images/rating/star.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */