@(currentUser: User,
  module: Module,
  playVersions: List[PlayVersion],
  form: Form[models.ModuleVersion])
@import tags._

@main("Manage " + module.name + " versions", currentUser) {


<section id="top">
	<div class="wrapper">
		<h1>Manage @module.name versions</h1>
	</div>
</section>

<div id="content" class="wrapper">
	<article>
		@helper.form(routes.Modules.uploadNewVersion(module.key)) {

		@helper.inputText(form("versionCode"))
		@helper.textarea(form("releaseNotes"))

        <div class="formSection">Compatibility</div>
        @for(playVersion <- playVersions) {
            <input type="checkbox" name="compatibility.id" value="@playVersion.id"/>@playVersion.name
        }

        @* best way to handle to handle the file upload? *@
		<p>
			<button type="submit">Upload</button>
		</p>
		}
	</article>

</div>
}
