@(currentUser: User, module: Module, versions: List[ModuleVersion], rate: Rate, vote: Vote)
@import tags.moduleList
@import utils.StringUtils._
@import be.objectify.deadbolt.views.html._

@moreScripts = {
<script src="@routes.Assets.at("javascripts/jquery.rating.pack.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/underscore.min.js")" type="text/javascript"></script>
}

@main(module.name, currentUser, moreScripts) {

<section id="top">
    <div class="wrapper">
        <h1>@module.name</h1>
        <h2>@module.summary</h2>
    </div>
</section>

<div class="wrapper">

    <div id="overviewArea">

        <p>
            @Html(module.getDescriptionHtml())
        </p>

        <h2>Releases</h2>
        <table class="releases">
            <thead>
            <tr>
            <th>Version</th>
            <th>Release date</th>
            <th>Compatible with</th>
            </tr>
            </thead>
            <tbody>
            @for(version <- versions){
            <tr>
                <td>@version.versionCode</td>
                <td>@(if(version.releaseDate != null) version.releaseDate.format("dd-MM-yyyy"))</td>
                <td>@version.getCompatibilityHtml()</td>
            </tr>
            }
            </tbody>
        </table>
          
    </div>
    <div id="controlArea">

        <h3>Project home: </h3>
        <a href="@module.projectUrl" target="_blank">@module.projectUrl</a>

        @if(!isEmpty(module.demoUrl)) {
            <h3>Demo: </h3>
            <a href="@module.demoUrl" target="_blank">@module.demoUrl</a>
        }

        @if(!isEmpty(module.licenseType)){
            <h3>License: </h3>
            @if(!isEmpty(module.licenseUrl)){
                <a href="@module.licenseUrl">@module.licenseType</a>
            } else {
                @module.licenseType
            }
        }

        <h3>Contributors: </h3>
        @module.contributors

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

        @roleHolderPresent {
         $('span.upVote').click(function() {
             var self = this;
             $.post('@routes.Modules.voteUp(module.key)',
                    function(data, textStatus, jqXHR) {
                        $('span.votedDown').removeClass('votedDown').addClass('downVote').text(data.downVotes);
                        $('span.downVote').text(data.downVotes);
                        $(self).removeClass('upVote').addClass('votedUp').text(data.upVotes);
                    });
         });
         $('span.downVote').click(function() {
             var self = this;
             $.post('@routes.Modules.voteDown(module.key)',
                    function(data, textStatus, jqXHR) {
                        $('span.votedUp').removeClass('votedUp').addClass('upVote').text(data.upVotes);
                        $('span.upVote').text(data.upVotes);
                        $(self).removeClass('downVote').addClass('votedDown').text(data.downVotes);
                    });
         });

         @if(vote != null){
          @if(vote.isUpVote()) {
           $('span.upVote').removeClass('upVote').addClass('votedUp');
          } else {
           $('span.downVote').removeClass('downVote').addClass('votedDown');
          }
         }
        }
        setRatingSummary('@module.rating.averageRating',
                         '@module.rating.totalRatings()');

        function setRatingSummary(averageRating, totalRatings) {
            var ratingSummaryTemplate = _.template($('#ratingSummaryTemplate').html(),
                                                   {averageRating:averageRating, ratingCount:totalRatings});
            $('#ratingSummary').text(ratingSummaryTemplate);
        }

        @if(rate != null) {
         $('#rating-@rate.rating').attr('checked', 'checked');
        }

        @roleHolderPresent {
        $('.auto-submit-star').rating(
                {
                    'required': true,
                    callback: function(value, link){
                        $.post('@routes.Modules.rate(module.key)',
                               {id:'@module.id', rating:value},
                               function(data, textStatus, jqXHR) {
                                   setRatingSummary(data.averageRating, data.totalRatings);
                               });
                    }
                });
        }
    });
</script>
<script type="underscore-template" id="ratingSummaryTemplate">
    <%= averageRating %> (<%= ratingCount %> ratings)
</script>
}
