@(currentUser: User, form: Form[models.Module])
@import tags._

@main("Register a new module", currentUser) {


<section id="top">
	<div class="wrapper">
		<h1>Sumbit a new module</h1>
	</div>
</section>

<div id="content" class="wrapper">
	<article>
		@helper.form(routes.Modules.submitModuleRegistrationForm) {

		@helper.inputText(form("name"))
		@helper.inputText(form("key"))
		@helper.textarea(form("summary"))
		@helper.textarea(form("description"))
		@helper.inputText(form("projectUrl"))
		@helper.inputText(form("demoUrl"))
		@helper.inputText(form("avatarUrl"))
		@helper.inputText(form("licenseType"))
		@helper.inputText(form("licenseUrl"))

		<p>
			<button type="submit">Register</button>
		</p>
		}
	</article>

</div>
}
