@(currentUser: User, module: Module, versions: List[ModuleVersion])
@import tags.moduleList
@import utils.StringUtils._
@import be.objectify.deadbolt.views.html._

@main(module.name, currentUser) {

<section id="top">
    <div class="wrapper">
        <h1>@module.name</h1>
        <h2>@module.summary</h2>
    </div>
</section>

<div class="wrapper">

    <div id="overviewArea">

        <p>
            <strong>Project home: </strong><a href="@module.projectUrl" target="_blank">@module.projectUrl</a><br/>
            @if(!isEmpty(module.demoUrl)) {
                <strong>Demo: </strong><a href="@module.demoUrl" target="_blank">@module.demoUrl</a>
            }
        </p>

        @if(!isEmpty(module.licenseType)){
        <p>
            <strong>License: </strong>
            @if(!isEmpty(module.licenseUrl)){
                <a href="@module.licenseUrl">@module.licenseType</a>
            } else {
                @module.licenseType
            }
        </p>
        }
        
        <p>
            Written by @module.contributors
        </p>
        
        <!--
            <tr>
                <td>License :</td>
                <td><a href="@module.licenseUrl" target="_blank">@module.licenseType</a></td>
            </tr>
            @if(!isEmpty(module.demoUrl)) {
            <tr>
                <td>Demo: </td>
                <td><a href="@module.demoUrl">@module.demoUrl</a></td>
            </tr>
            }
            @dynamic(security.dynamic.AllowToVote.KEY, module.key) {
            <tr>
                <td>Vote: </td>
                <td>
                    <a href="@routes.Modules.vote(module.key)">Vote</a>
                </td>
            </tr>
            }
        </table>
        -->

        @Html(module.getDescriptionHtml())

    </div>
    <div id="controlArea">
        @for(version <- versions){
        <h3>@version.versionCode (@version.releaseDate)</h3>
        <p>@version.releaseNotes</p>
        <p>
            Compatible with: @for(compatible <- version.compatibility) {<span class="lineList">@compatible.name,</span>}
        </p>
        }
    </div>
</div>
}
