@(currentUser: User, form: Form[models.Module])
@import tags._

@main("Submit a new module", currentUser) {


<section id="top">
	<div class="wrapper">
		<h1>Submit a new module</h1>
	</div>
</section>

<div id="content" class="wrapper">
	<article>
		@helper.form(routes.Modules.submitModuleRegistrationForm) {

		@helper.inputText(form("name"),
            'size  -> 50,
            '_label -> "Module Name"
        )

        @helper.inputText(form("key"),
            'size  -> 50,
            '_label -> "Module Key"
        )

        @helper.inputText(form("organisation"),
            'size -> 50,
            'maxLength -> 255
        )

        @helper.inputText(form("summary"),
            'size  -> 50,
            '_label -> "Describe your module in a single line"
        )

        @helper.textarea(form("description"),
            'rows -> 10,
            'cols -> 80,
            '_label -> "Describe your module in a couple of lines"
        )

        @helper.select(form("category.id"), helper.options(Category.options()))

        @helper.inputText(form("projectUrl"),
            'size  -> 50,
            '_label -> "Project URL",
            'placeholder -> "http://..."
        )

        @helper.inputText(form("licenseType"),
            'size  -> 50,
            '_label -> "License"
        )

		<p>
			<button type="submit">Submit!</button>
		</p>
		}
	</article>

</div>
}
