@(currentUser: User, module: Module, versions: List[ModuleVersion], majorVersions: Set[PlayVersion.MajorVersion], rate: Rate, vote: Vote)
@import tags.moduleList
@import utils.StringUtils._
@import be.objectify.deadbolt.views.html._

@moreScripts = {
<script src="@routes.Assets.at("javascripts/jquery.rating.pack.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/underscore.min.js")" type="text/javascript"></script>
}

@main(module.name, currentUser, moreScripts) {

<section id="top">
    <div class="wrapper">
        <h1>@module.name</h1>
        <h2>@module.summary</h2>
    </div>
</section>

<div class="wrapper">

  <article>
    <div id="overviewArea">

      <div class="description">
          @Html(module.getDescriptionHtml())
      </div>

      <h2>Releases</h2>
      <table class="releases">
          <thead>
          <tr>
          <th>Version</th>
          <th>Release date</th>
            @* Commented out until actual compatibility data is available (Peter, 12 May 2012)
            <th>Compatible with</th>
            *@
          </tr>
          </thead>
          <tbody>
          @for(version <- versions){
          <tr class="releaseRow" title="@version.versionCode">
              <td>@version.versionCode</td>
              <td>@(if(version.releaseDate != null) version.releaseDate.format("dd-MM-yyyy"))</td>
              @* Commented out until actual compatibility data is available (Peter, 12 May 2012)
              <td>@version.getCompatibilityHtml()</td>
              *@
              @*
              TODO: replace hard-coded URL prefix with
              TODO Show when there's a Play 1 module version
              <td><a href="http://www.playframework.org/modules/@module.key-@version.versionCode/home">Docs</a></td>
              <td><a href="http://www.playframework.org/modules/@module.key-@(version.versionCode).zip">Download</a></td>
              *@
          </tr>
          }
          </tbody>
      </table>

      <div class="subSection">
        <h2>Installation</h2>
        <p>Select a release (above) to show the exact installation details.</p>
        @if(majorVersions.contains(PlayVersion.MajorVersion.ONE)) {
        <h3>Play 1</h3>
        <p>To install locally this module use the install command:</p>
            <pre class="code">
                play install @module.key-<span class='exampleVersion'>version</span></pre>

        To add this module as dependency of your application, add it to the dependencies.yml file:
            <pre class="code">
    require:
        - play -> @module.key <span class='exampleVersion'>version</span></pre>

        <p>See <a href="http://www.playframework.org/documentation/1.2.4/dependency" target="_blank" class="external">the Play 1 documentation</a> for further details.</p>
        }

        @if(majorVersions.contains(PlayVersion.MajorVersion.TWO)) {
        <h3>Play 2</h3>
        <p>To declare a dependency on this module, update project/Build.scala:</p>
            <pre class="code">
val appDependencies = Seq(
    "@module.organisation" %% "@module.key" % "<span class='exampleVersion'>version</span>",
)</pre>

        <p>See <a href="http://www.playframework.org/documentation/2.0.1/SBTDependencies" target="_blank" class="external">the Play 2 documentation</a> for further details.</p>
        }
      </div>

    </div>
  </article>

  <aside>
    <h3>Project home</h3>
    <p><a href="@module.projectUrl" target="_blank">@module.projectUrl</a></p>

    @if(!isEmpty(module.demoUrl)) {
        <h3>Demo</h3>
        <p><a href="@module.demoUrl" target="_blank">@module.demoUrl</a></p>
    }

    @if(!isEmpty(module.licenseType)){
        <h3>License</h3>
        <p>
        @if(!isEmpty(module.licenseUrl)){
            <a href="@module.licenseUrl">@module.licenseType</a>
        } else {
            @module.licenseType
        }
        </p>
    }

    <h3>Owner</h3>
    <p>@module.owner.displayName</p>

    @if(!isEmpty(module.contributors)){
      <h3>Contributors</h3>
      <p>@module.contributors</p>
    }
  </aside>

</div>
<script type="text/javascript">
    $(document).ready(function() {

      $('tr.releaseRow').click(function() {
        $('span.exampleVersion').text($(this).attr('title'));
      });


      @roleHolderPresent {
         $('span.upVote').click(function() {
             var self = this;
             $.post('@routes.Modules.voteUp(module.key)',
                    function(data, textStatus, jqXHR) {
                        $('span.votedDown').removeClass('votedDown').addClass('downVote').text(data.downVotes);
                        $('span.downVote').text(data.downVotes);
                        $(self).removeClass('upVote').addClass('votedUp').text(data.upVotes);
                    });
         });
         $('span.downVote').click(function() {
             var self = this;
             $.post('@routes.Modules.voteDown(module.key)',
                    function(data, textStatus, jqXHR) {
                        $('span.votedUp').removeClass('votedUp').addClass('upVote').text(data.upVotes);
                        $('span.upVote').text(data.upVotes);
                        $(self).removeClass('downVote').addClass('votedDown').text(data.downVotes);
                    });
         });

         @if(vote != null){
          @if(vote.isUpVote()) {
           $('span.upVote').removeClass('upVote').addClass('votedUp');
          } else {
           $('span.downVote').removeClass('downVote').addClass('votedDown');
          }
         }
        }
        setRatingSummary('@module.rating.averageRating',
                         '@module.rating.totalRatings()');

        function setRatingSummary(averageRating, totalRatings) {
            var ratingSummaryTemplate = _.template($('#ratingSummaryTemplate').html(),
                                                   {averageRating:averageRating, ratingCount:totalRatings});
            $('#ratingSummary').text(ratingSummaryTemplate);
        }

        @if(rate != null) {
         $('#rating-@rate.rating').attr('checked', 'checked');
        }

        @roleHolderPresent {
        $('.auto-submit-star').rating(
                {
                    'required': true,
                    callback: function(value, link){
                        $.post('@routes.Modules.rate(module.key)',
                               {id:'@module.id', rating:value},
                               function(data, textStatus, jqXHR) {
                                   setRatingSummary(data.averageRating, data.totalRatings);
                               });
                    }
                });
        }
    });
</script>
<script type="underscore-template" id="ratingSummaryTemplate">
    <%= averageRating %> (<%= ratingCount %> ratings)
</script>
}
