@(title: String, moduleAccessors: List[_
<: ModuleAccessor])

@import utils.StringUtils._;

<p class="sectionHeader">@title</p>
<div id="modules">

    @if(moduleAccessors.isEmpty()){
        <span>No modules found.</span>
    } else {
        <table>
          <tr>
            <th>Name &amp; description</th>
            <th>Owner</th>
          </tr>
        @for(accessor <- moduleAccessors) {
            @defining(accessor.getModule()) { module =>
                  <tr>
                    <td>
                      <a href="@routes.Modules.details(module.key)">@module.name</a>
                      <br>@summarize(module.summary)
                    </td>
                    <td>@module.owner.displayName</td>
                  </tr>
            }
        }
        </table>
    }
</div>


