@(currentUser: User)

<div id="news">
	<ul class="wrapper">
		@if(currentUser != null) {
		Hello @currentUser.displayName |
		<a href="@routes.Modules.myModules">My modules</a> |
		<a href="@routes.Modules.showModuleRegistrationForm">Add a module</a> |
		<a href="@routes.PlayVersions.showPlayVersions">Admin</a> |
		<a href="@routes.Application.logout">Log out</a>
		} else {
		<li>
			This is the work-in-progress for the new modules repository, to be released on modules.playframework.org
		</li>
		}
	</ul>
</div>


