@(currentUser: User)

@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.utils.TemplateUtils._

@if(currentUser != null) {
<div id="news">
	<ul class="wrapper">
		    Hello @currentUser.displayName |
		    <a href="@routes.Modules.myModules">My modules</a> |
		    <a href="@routes.Modules.showModuleRegistrationForm">Submit a new module</a> |
            @restrict(la(as("admin"))) {
                <a href="@routes.PlayVersions.showPlayVersions">Admin</a> |
            }
		    <a href="@routes.Application.logout">Log out</a>
	</ul>
</div>
}


