@(currentUser: User,
  mostRecentModules: List[Module],
  highestRatedModules: List[Module],
  featuredModules: List[FeaturedModule])

@import tags._

@main("Home", currentUser) {
<div class="row">
    <div class="sixcol">
        @if(currentUser != null) {
        <p>Personal summary</p>
        } else {
        <p>A welcome message</p>
        }
    </div>
    <div class="sixcol last">
        @moduleList("Featured modules", featuredModules)
    </div>
</div>
<div class="row">
    <div class="fourcol">
        @moduleList("Latest modules", mostRecentModules)
    </div>
    <div class="fourcol">
        @moduleList("Highest-rated", highestRatedModules)
    </div>
    <div class="fourcol last">
        <p class="sectionHeader">Search</p>
    </div>
</div>
}