@(form: Form[forms.login.Login])

@main("Log in") {
<div class="row">
    <div class="twelvecol last">
        @helper.form(routes.Application.authenticate) {
        <h1>Sign in</h1>

        @if(form.hasGlobalErrors) {
        <p class="error">
            @form.globalError.message
        </p>
        }

        <p>
            <input type="text" name="userName" placeholder="User name" value="@form("userName").value">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password">
        </p>
        <p>
            <button type="submit">Login</button>
        </p>
        <div>Don't have an account? <a href="@routes.Application.register()">Register</a> for one.</div>
    </div>
    </div>
}}

