@(title: String, currentUser: User = actions.CurrentUser.get())(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Play! Module Repository :: @title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!--[if lte IE 9]><link rel="stylesheet" href="@routes.Assets.at("stylesheets/1140/ie.css")" type="text/css" media="screen" /><![endif]-->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/1140/1140.css")" type="text/css" media="screen" />

        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/css3-mediaqueries.js")"></script>

    </head>
    <body>
    <div class="container">
        <div id="header" class="row">
            <div class="ninecol">
                <p><a href="@routes.Application.index">Header</a></p>
            </div>
            <div class="threecol last loginDetails">
                @if(currentUser != null) {
                    Hello @currentUser.displayName | <a href="@routes.Application.logout">Log out</a>
                } else {
                    <a href="@routes.Application.login">Log in</a>
                }
                @* This will be replaced with roleHolderPresent from deadbolt *@
            </div>
        </div>
        @content
        <div id="footer" class="row">
            <div class="twelvecol last">
                <p>Footer</p>
            </div>
        </div>
    </div>
    </body>
</html>
