@(form: Form[forms.login.Register])

@main("Register") {
<section id="top">
    <div class="wrapper">
        <h1>Register</h1>
    </div>
</section>
<div id="content" class="wrapper">
    <article>
        @helper.form(routes.Application.createAccount) {

        @if(form.hasGlobalErrors) {
        <p class="error">
            @form.globalError.message
        </p>
        }
        @helper.inputText(form("userName"))
        @helper.inputText(form("displayName"))
        @helper.inputPassword(form("password"))

        <p>
            <button type="submit">Register</button>
        </p>
        }
    </article>
</div>
}
